<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <div class="navbar">
        <ul>
          
          <li><a class="http://localhost:8080/" href="#">Home</a></li>
          <li><a href="/show">Show Data</a></li>
    
        </ul>
      </div>
      <div>
        <form method="post" action="/edit/<%- studentdata._id %>"">
          <div class="form">
            <div class="title">Update</div>
            
            <div class="input-container ic1">
              <input class="input" type="text" name="name" value="<%- studentdata.name %>" />
              <div class="cut">
              <label
               for="firstname" class="placeholder"></label>
              </div> 
            </div>
    
            <div class="input-container ic2">
              <input class="input"  type="text" name="email" value="<%- studentdata.email %>"/>
              <div class="cut cut-short">
              <label for="email" class="placeholder"></label>
            </div>
            </div>
            <button type="submit" class="submit">Update</button>
    
          </div>
        </form>
</body>
</html>